body{
    background-color: #dcdddf;
}
section{
    text-align: center;
}
.nav-wrapper{
    background-color: #404143;
}
.center {
    text-align: center;
    color:white;
    background-color: #faad00;
}