body{
    background-color: #dcdddf;
}
section{
    text-align: center;
}
.nav-wrapper{
    background-color: #404143;
}
.alCent {
    text-align: center;
    color:white;
    background-color: #faad00;
}
.card-panel{
    padding: 1%;
}
.waves-effect{
    width: 100%;
    text-align: center;
}
.space{
    margin-top: 50%;
}
