body{
    background-color: #404143;
}
.logo{
    width: 50%;
    margin: 4em 5em 1em 5em;
}
.caja{
    background-color: white;
}
h2 {
    text-align: center;
    color: #faad00;
    font-size: 40px;
    padding: 2%;
}
.waves-effect{
    width: 100%;
    text-align: center;
    color: white;
}
p{
    color: white;
}
header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }